<div class="blurr">
  <div class="hero">
    Personal Portfolio
  </div>
  <div class="folder">
    <div class="foldertop">
      <div class="circles">
        <div class="red circle" [routerLink]="['/']"></div>
        <div class="orange circle"></div>
        <div class="green circle"></div>
      </div>
    </div>
    <div class="table">
      <table>
        <thead>
          <th>Name</th>
          <th>Area</th>
          <th>Type</th>
          <th>Status</th>
        </thead>
        <tr *ngFor="let project of projects" [routerLink]="[project.short]">
          <td>{{ project.name }}</td>
          <td>{{ project.field }}</td>
          <td>{{ project.type }}</td>
          <td>{{ project.status }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
