<div class="full-container">

  <app-room></app-room>

  <div class="footer">
    <div class="footerleft">
      <div>
        <a routerLink="impressum">
          Impressum
        </a>
      </div>
      <div>
        <a routerLink="datenschutz">
          Datenschutz
        </a>
      </div>
    </div>
    <div class="icons">
      <div>
        <a href="https://github.com/DavidCisar" title="GitHub Profile" target="_blank">
          <i class="fa-brands fa-github" style="font-size:1.25em"></i>
        </a>
      </div>
      <div>
        <a href="https://www.linkedin.com/in/david-cisar-308b6b199/" title="LinkedIn Profile" target="_blank">
          <i class="fa-brands fa-linkedin" style="font-size:1.25em"></i>
        </a>
      </div>
      <div>
        <a href="https://www.instagram.com/davidcisar/" title="Instagram Profile" target="_blank">
          <i class="fa-brands fa-instagram" style="font-size:1.25em"></i>
        </a>
      </div>
      <div>
        <a href="https://medium.com/@davidcisar" title="Medium Profile" target="_blank">
          <i class="fa-brands fa-medium" style="font-size:1.25em"></i>
        </a>
      </div>
    </div>
    <div class="footerright">
      Copyright © David Cisar, 2022
    </div>
  </div>

</div>
