._container {
  height: 100%;
  width: 100%;
  position: absolute;

  display: flex;
  flex-direction: column;
}

._inner-container {

  display: flex;
  flex-direction: column;

  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.navbar {
  display: flex;
  justify-content: space-between;

  position: fixed;
  left: 0vw;
  right: 0vw;
  z-index: 10;

  font-size: 1.25em;

  padding-top: 15px;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 15px;

  background: rgba(33, 76, 88, 1);
  box-shadow: 0 2px 15px rgba(0, 0, 0, .7);
}

.navbar-left {
  display: flex;
  justify-content: flex-start;

  font-weight: bold;

  width: 180px;
}

.navbar-middle {
  display: flex;
  justify-content: center;

}

.navbar-right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;

  width: 180px;
}

.navbar a {
  color: white;
  text-decoration: none;

  margin-left: 15px;
  margin-right: 15px;
}

.navbar a:hover {
  transform: scale(1.1);
}
