<div class="_container">

  <div class="navbar">

    <div class="navbar-left">
      <a routerLink="">HOME</a>
    </div>

    <div class="navbar-middle">
      <a routerLink='about'>About</a>
      <a routerLink='skills'>Skills</a>
      <a routerLink='projects'>Projects</a>
      <a *ngIf="true" routerLink='management'>Admin</a>
    </div>

    <div class="navbar-right">

      <a href="https://www.linkedin.com/in/david-cisar-308b6b199/" target="_blank">
        <i class="fa fa-linkedin" style="font-size:20px"></i>
      </a>
      <a href="https://www.instagram.com/davidcisar/" target="_blank">
        <i class="fa fa-instagram" style="font-size:20px"></i>
      </a>
      <a *ngIf="loggedIn" routerlink="profile">
        <i class="fa fa-user" style="font-size:20px"></i>
      </a>
      <a *ngIf="!loggedIn" routerlink="login">
        <i class="fa fa-sign-in" style="font-size:20px"></i>
      </a>

    </div>

  </div>

  <div class="_inner-container">

    <router-outlet></router-outlet>

  </div>

</div>
