.container {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
}

.inner-container {
  
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.navbar {
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 2.5vh;
  left: 10vw;
  right: 10vw;

  font-size: 1.25em;

  padding-top: 15px;
  padding-bottom: 15px;

  background: rgba(33, 76, 88, 0.75);
}

.navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center; 

  width: 180px;
}

.navbar-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;

  width: 180px;
}

.navbar a {
  color: white;
  text-decoration: none;

  margin-left: 15px;
  margin-right: 15px;
}

.navbar a:hover {
  border-bottom: 0.5px solid rgb(255, 255, 255);
}