._container {
  height: 100%;
  width: 100%;
  position: absolute;

  display: flex;
  flex-direction: column;
}

._inner-container {

  display: flex;
  flex-direction: column;

  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.navbar {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid;
  border-image: linear-gradient(45deg, orange, orchid) 1;

  position: fixed;
  left: 10vw;
  right: 10vw;
  z-index: 10;

  font-size: 1em;

  padding-top: 50px;
  padding-bottom: 15px;

  background-color: black;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.bar-left {
  display: flex;
  justify-content: flex-start;

  font-weight: bold;

  width: 180px;
}

.bar-middle {
  display: flex;
  justify-content: center;

}

.bar-right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;

  width: 180px;
}

.navbar a, .footer a {
  color: white;
  text-decoration: none;

  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.bar-left a:hover {
  color: orange;
}

.bar-middle a:hover {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, orange, orchid);
}

.bar-right a:hover {
  color: orchid;
}

.footer {
  display: flex;
  justify-content: center;

  margin: 5vh;
  padding: 25px;
}

.fa:hover {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, orange, orchid);
}
