<div class="container">

  <div class="navbar">

    <div class="navbar-left">
      <a routerLink="">HOME</a>
    </div>
  
    <div class="navbar-middle">
      <a routerLink='about'>ABOUT</a>
      <a routerLink='skills'>SKILLS</a>
      <a routerLink='projects'>PROJECTS</a>
      <a routerLink='contact'>CONTACT</a>
    </div>
  
    <div class="navbar-right">
      
      <div *ngIf="!loggedIn">
        <button>LOGIN</button>
        <button>REGISTER</button>
      </div>
      
      <div *ngIf="loggedIn">">
        <button>LOGOUT</button>
      </div>
    
    </div>

  </div>

  <div class="inner-container">

    <router-outlet></router-outlet>
  
  </div>

</div>
