.references {
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.reference-content {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  padding: 15px;

  color: white;
  font-size: 16px;
  text-align: block;

  margin: 15px;

  width: 400px;
  height: 200px;

  border: 1px solid;
  border-image: linear-gradient(45deg, orange, orchid) 1;

}

.name {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
}
