.privacy-container {
  position: relative;
  margin-top: 10vh;
  padding: 2.5vh 20vw 0vh 20vw;
  height: 82.5vh;

  box-sizing: border-box;
  font-size: 16px;
  text-align: justify;
  overflow-y: auto;

  background-color: rgb(6, 11, 25);

  z-index: 10;
}

.privacy-container::-webkit-scrollbar {
  display: none;              /* Safari and Chrome */
}

.go-back {
  bottom: 92.5vh;
}
