<div class="portfolio-container">
  <div class="inner-portfolio-container">
    <h1 class="hero">Bond Token Factory</h1>
    <div>
      <h3>Description</h3>
      <p style="text-align: justify"><br>The Bond Token Factory has been developed in the context of my master thesis “Mind the Funding Gap: Development of a Blockchain-based Bond Token
      for Small and Medium-sized Enterprises”. In the past decades, multiple non-bank market-based financing alternatives vainly have been proposed
      to solve the ever-increasing financing constraints of small- and medium-sized enterprises. The emergence of blockchain-based bond issuances
      cherished the hope of finally closing these financing gaps. Regulatory developments such as the introduction of the German eWpG further boost
      these endeavors.
      Yet, previous scientific literature lacked both practical and prescriptive knowledge on how possible IT artifacts must be designed to achieve
      these goals. By conducting design science research, a novel Ethereum-based bond token prototype to close these gaps was designed and developed.
      <br><br>
      Through sound evaluation this thesis was able to further derive practical and theoretical implications such as design principles for both researchers
      and practitioners. The proposed Ethereum-based bond token prototype significantly reduces economic barriers to broaden financial inclusion
      through process automation and disintermediation.
      <br><br>
      The development process included a requirements' analysis, conceptual design and the development of a Blockchain-based prototype for the issuance
      and management of the complete lifecycle of corporate bonds in the programming language Solidity. The process was backed by iterative
      interview & development rounds conducted with industry experts in the fields of finance, blockchain technology and law.
      <br><br>
      The Bond Token Factory is divided into several smart contracts, which are responsible for different functionalities such as KYC whitelisting,
      registration or token minting. Core centerpiece of the prototype is the crypto securities register, which allows for revolutionizing the
      clearing & settlement process. Traditional financial market infrastructure is based on complex clearing and settlement processes,
      involving multiple different service layers and entities, which finally leads to complexity and communication overhead.
      <br><br>
      Ultimately, the prototype tackles these inefficiencies and not only reduces complexity, it enables automation and faster transaction settlement
      while reducing systematic risk.
      <br><br>
      </p>
    </div>
    <div>Technologien, Frameworks etc.</div>
    <div>Zeitliches Interval</div>
    <div>Website oder GitHub</div>
    <div>Bilder</div>
  </div>
</div>
