.admin {
  font-size: 0.75em;
}

.project-content, .language-content, .framework-content, .topic-content {
  margin: 15px;
  padding: 25px;

  border: 1px solid white;
  border-radius: 3px;
}

.create-button {
  text-align: center;
  margin-top: 50px;
}

li {
  width: min-content;
}

input {
  display: inline-block;
  width: 100%;
  font-style: italic;
  padding: 15px;
}

.dropdown {
  text-align: center;
  justify-content: center;
}

.languages, .frameworks, .topics, .buttons {
  border-top: 1px solid white;

  margin-top: 15px;
  padding-top: 15px;
}

.language, .framework, .topic {
  border: 1px solid black;
  border-radius: 5px;

  margin-top: 15px;
  padding: 15px;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h2, h5 {
  margin-top: 15px;
}

.selectedContent {
  margin-top: 15px;
}

.fa-times:hover {
  transform: rotate(270deg);
  transition: all 0.75s ease;
}

button {
  margin: 5px;
  border-radius: 5px;
}

.language-icon {
  text-align: center;
}

.language-icon i {
  font-size: 50px;
}

