<div class="content">

  <div class="content-left">
    <h1 class="headline">
      Hey,<br>
      I'm David!
    </h1>
    <p>
      <i>
        Junior Software Engineer with expertise in the development of enterprise web-applications
        & EVM-related smart contract programming.
      </i>
    </p>
  </div>

  <div class="content-right three-js">
    <app-threejs></app-threejs>
  </div>

</div>

<div class="skills">
  <app-skills></app-skills>
</div>

<div class="contact">
  <app-contact></app-contact>
</div>
