<div class="content">

    <div class="left-content">
        <h1 class="headline">
            Hey, <br>
            I´m David!
        </h1>
    
        <div class="description">
            <p>
                Junior Software Engineer with expertise in the development of server-side enterprise applications.
            </p>
        </div>
    </div>

    <div class="three-js">
        <app-threejs></app-threejs>
    </div>
    

</div>

<div class="content"></div>

<div class="content"></div>

<div class="content"></div>

<div class="content"></div>


