<div class="full-container">
  <div class="container fixed">
    <router-outlet></router-outlet>
  </div>
  <div class="container">
    <app-room></app-room>
  </div>
  <div id="about" class="container">

  </div>

  <div class="container">
    <h1 class="hero gradient-text">The Tech Stack</h1>
    <div style="margin-top: 25px; width: 700px; font-size: 20px; font-style: italic;" class="center">
      <p>
        As a software developer, the technology stack refers to the set of tools
        and technologies I use in my work or personal projects.
        This includes programming languages, frameworks, libraries,
        and other tools that I choose based on project needs and personal preferences.
        The technology stack is critical to optimizing development time, scalability,
        and maintainability, and can greatly impact project success.
      </p>
    </div>
    <div class="skill-section center">
      <h2 class="skill-hero gradient-text">Programming Languages</h2>
      <button class="skill-btn">Java</button>
      <button class="skill-btn">TypeScript</button>
      <button class="skill-btn">JavaScript</button>
      <button class="skill-btn">Solidity</button>
      <button class="skill-btn">Python</button>
    </div>
    <div class="skill-section center">
      <h2 class="skill-hero gradient-text">Markup Languages & Styling</h2>
      <button class="skill-btn">HTML</button>
      <button class="skill-btn">XML</button>
      <button class="skill-btn">CSS</button>
    </div>
    <div class="skill-section center">
      <h2 class="skill-hero gradient-text">Web Frameworks</h2>
      <button class="skill-btn">Angular</button>
      <button class="skill-btn">Spring</button>
    </div>
    <div class="skill-section center">
      <h2 class="skill-hero gradient-text">Authentication & Authorization</h2>
      <button class="skill-btn">Json Web Token (JWT)</button>
      <button class="skill-btn">Spring Security</button>
    </div>
    <div class="skill-section center">
      <h2 class="skill-hero gradient-text">Blockchain & Web3</h2>
      <button class="skill-btn">Remix</button>
      <button class="skill-btn">Hardhat</button>
      <button class="skill-btn">Ganache</button>
      <button class="skill-btn">Ethers.js</button>
      <button class="skill-btn">ERC - Token Standards</button>
    </div>
    <div class="skill-section center">
      <h2 class="skill-hero gradient-text">Database Technology</h2>
      <button class="skill-btn">MySQL</button>
      <button class="skill-btn">PostgreSQL</button>
      <button class="skill-btn">MongoDB</button>
      <button class="skill-btn">Hibernate</button>
    </div>
    <div class="skill-section center">
      <h2 class="skill-hero gradient-text">DevOps</h2>
      <button class="skill-btn">JIRA</button>
      <button class="skill-btn">Docker</button>
      <button class="skill-btn">Maven</button>
      <button class="skill-btn">Bamboo</button>
      <button class="skill-btn">BitBucket</button>
      <button class="skill-btn">Selenium</button>
      <button class="skill-btn">JUnit</button>
      <button class="skill-btn">git</button>
      <button class="skill-btn">GitHub</button>
    </div>
    <div class="skill-section center">
      <h2 class="skill-hero gradient-text">IDEs</h2>
      <button class="skill-btn">IntelliJ</button>
      <button class="skill-btn">Visual Studio Code</button>
    </div>
  </div>

  <div class="container">
    <h1 class="hero gradient-text">Projects</h1>

  </div>
  <div class="footer">
    <div class="footerleft">
      <div>
        <a routerLink="/imprint">
          Imprint
        </a>
      </div>
      <div>
        <a routerLink="/privacy">
          Privacy
        </a>
      </div>
    </div>
    <div class="icons">
      <div>
        <a href="https://github.com/DavidCisar" title="GitHub Profile" target="_blank">
          <img class="footer-logo" src="./assets/images/github.svg" alt="github">
        </a>
      </div>
      <div>
        <a href="https://www.linkedin.com/in/david-cisar-308b6b199/" title="LinkedIn Profile" target="_blank">
          <img class="footer-logo" src="./assets/images/linkedin.svg" alt="linkedin">
        </a>
      </div>
      <div>
        <a href="https://www.instagram.com/davidcisar/" title="Instagram Profile" target="_blank">
          <img class="footer-logo" src="./assets/images/instagram.svg" alt="instagram">
        </a>
      </div>
      <div>
        <a href="https://medium.com/@davidcisar" title="Medium Profile" target="_blank">
          <img class="footer-logo" src="./assets/images/medium.svg" alt="medium">
        </a>
      </div>
      <div>
        <a href="mailto:info@dcisar.io" title="Mail to info@dcisar.io">
          <img class="footer-logo" src="./assets/images/paper-plane.png" alt="mail">
        </a>
      </div>
    </div>
    <div class="footerright">
      Copyright © 2023 - David Cisar
    </div>
  </div>
</div>
