<div class="imprint-container">
  <div>
    <h1>
      Impressum
    </h1>
    <h2>
      Angaben gem&auml;&szlig; &sect; 5 TMG
    </h2>
    <br><br>
    <p>
      David Cisar<br>
      Burghofstra&szlig;e, 46<br>
      40223 D&uuml;sseldorf
    </p>
    <br><br>
    <h2>
      Kontakt
    </h2>
    <p>
      Telefon: +49 (0) 17631278942<br />
      E-Mail: info@dcisar.io
    </p>
  </div>
  <div>
    <p>
      Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
    </p>
  </div>
</div>
<div class="go-back" routerLink="">
  Go back
</div>
