<div *ngIf="!enteredPortfolio.getValue()" class="hacker">
  <div class="password">
    <h1>*********************</h1>
  </div>
  <button type="button" class="enter-btn" (click)="enterPortfolio()">Enter portfolio</button>
</div>

<div [hidden]="!enteredPortfolio.getValue()">
  <router-outlet></router-outlet>
  <canvas #canvas id="canvas"></canvas>

  <div *ngIf="!hideMenu.getValue() && !onExplore.getValue()" class="menu" id="menu">
    <h1 class="hero gradient-text" (click)="exploreRoom()">EXPLORE</h1>
  </div>

  <div *ngIf="!hideMenu.getValue() && !onExplore.getValue()">
    <button class="hamburger">
      <div class="bar"></div>
    </button>
    <nav class="navigation">
      <div class="burger-section" routerLink="about">About me</div>
      <div class="burger-section" routerLink="skills">Technology Stack</div>
      <div class="burger-section" routerLink="portfolio">Check the Portfolio</div>
    </nav>
  </div>

  <div *ngIf="onExplore.getValue()" class="explore" (click)="goBack()">
    <i class="fa-solid fa-person-walking-arrow-right"></i>
    ||
    <p>Go back</p>
  </div>
</div>
