#canvas {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.menu {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 45vh;
  left: 10vw;

  animation-name: fade-in;
  animation-duration: 1s;
}

.sections {
  display: flex;
  flex-direction: column;

  font-style: italic;

  height: 25vh;

  justify-content: space-between;
}

.section {
  display: flex;

  width: 17.5vw;
  height: 5vh;

  align-items: center;

  border-radius: 15px;
  border: 1px solid black;

  position: relative;
  margin-left: 2.5vw;
  padding-left: 2.5vw;

  animation-name: toggle-right;
  animation-duration: 0.1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.section:hover {
  background-color: beige;
  cursor: pointer;

  animation-name: toggle-left;
  animation-duration: 0.25s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

i {
  margin-right: 1vw;
}

@keyframes toggle-left {
  100%  {width: 20vw;}
}

@keyframes toggle-right {
  100%  {width: 17.5vw;}
}

@keyframes fade-in {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

.explore {
  display: flex;
  justify-content: space-between;
  position: fixed;

  top: 5vh;
  left: 10vw;

  background-color: white;

  width: max(130px, 10vw);
  height: 5vh;

  align-items: center;

  padding-left: max(15px, 1vw);
  padding-right: max(15px, 1vw);

  border-radius: 15px;
  border: 1px solid black;
}

.explore > i {
  margin-right: 0;
}

.explore:hover {
  background-color: beige;
  cursor: pointer;
}

.gradient-text {
  margin-left: 2.5vw;

  background-image: linear-gradient(45deg, blue, #845ec2, green, #d65db1, #d65d00, green, lightgreen);
  background-clip: text;

  color: transparent;

  background-size: 500%;
  animation: bg-animation 15s infinite alternate;
}

.gradient-text:hover {
  background-image: linear-gradient(45deg, lightgreen, #d65db1, #ff6f91, lightgreen);
  cursor: pointer;
}

@keyframes bg-animation {
  0% { background-position: left }
  100% { background-position: right }
}

.hamburger {
  position: fixed;
  top: 5vh;
  right: 5vw;

  display: block;
  width: 2vw;
  appearance: none;
  background: none;
  outline: none;
  border: none;

  animation-name: fade-in;
  animation-duration: 1s;

  cursor: pointer;
}

.navigation {
  position: fixed;
  top: 10vh;
  right: -10vw;
  display: flex;
  flex-direction: column;
  transition: 0.25s;
  opacity: 0;

  cursor: grab;
}

.navigation.is-active {
  right: 5vw;
  opacity: 1;
}

.burger-section {
  text-align: end;
  height: 5vh;
}

.burger-section:hover {
  font-weight: bold;
  cursor: pointer;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: black;
  margin: 6px 0px;
  transition: 0.5s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 7px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-8px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}
