<div *ngIf="!enteredPortfolio.getValue()" class="hacker">
  <div id="hacking" class="hacking hero"></div>
  <button type="button" class="enter-btn" (click)="enterPortfolio()">Enter portfolio</button>
</div>

<div class="time" id="time">
  {{ timeHour }} : {{ timeMinute }} : {{ timeSecond }}
</div>

<div [hidden]="!enteredPortfolio.getValue()">
  <router-outlet></router-outlet>
  <canvas #canvas id="canvas"></canvas>

  <div *ngIf="!hideMenu.getValue()" class="menu" id="menu">
    <h1 class="big-hero gradient-text" (click)="exploreRoom()">EXPLORE</h1>
  </div>

  <div *ngIf="onExplore.getValue()" class="explore" (click)="goBack()">
    <i class="fa-solid fa-person-walking-arrow-right"></i>
    ||
    <p>Go back</p>
  </div>
</div>

<div class="cookies">
  <h3></h3>
</div>
