#canvas {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.menu {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 20vh;
  left: 10vw;

  animation-name: fade-in;
  animation-duration: 1s;
}

.sections {
  display: flex;
  flex-direction: column;

  font-style: italic;

  height: 25vh;

  justify-content: space-between;
}

.section {
  display: flex;

  width: 17.5vw;
  height: 5vh;

  align-items: center;

  border-radius: 15px;
  border: 1px solid black;

  position: relative;
  margin-left: 2.5vw;
  padding-left: 2.5vw;

  animation-name: toggle-right;
  animation-duration: 0.1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.section:hover {
  background-color: beige;

  animation-name: toggle-left;
  animation-duration: 0.25s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

i {
  margin-right: 1vw;
}

@keyframes toggle-left {
  100%  {width: 20vw;}
}

@keyframes toggle-right {
  100%  {width: 17.5vw;}
}

@keyframes fade-in {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

.explore {
  display: flex;
  justify-content: space-between;
  position: fixed;

  top: 5vh;
  left: 10vw;

  background-color: white;

  width: max(130px, 10vw);
  height: 5vh;

  align-items: center;

  padding-left: max(15px, 1vw);
  padding-right: max(15px, 1vw);

  border-radius: 15px;
  border: 1px solid black;
}

.explore > i {
  margin-right: 0;
}

.explore:hover {
  background-color: beige;
}
