<div class="room-container">
  <div *ngIf="!enteredPortfolio.getValue()" class="hacker center">
    <div class="head center">
      <app-head-component></app-head-component>
    </div>
    <div id="hacking-1" class="hacking hero center"></div>
    <div id="hacking-2" class="hacking hero center"></div>
    <button *ngIf="introDone.getValue() && !hideIntroVar.getValue()" type="button" class="enter-btn center" (click)="enterPortfolio()"><b>Enter portfolio</b></button>
  </div>

  <div *ngIf="!enteredPortfolio.getValue() && introDone.getValue()" class="room-footer ">
    <div class="footerleft">
      <div>
        <a routerLink="/imprint" (click)="hideIntro()">
          Imprint
        </a>
      </div>
      <div>
        <a routerLink="/privacy" (click)="hideIntro()">
          Privacy
        </a>
      </div>
    </div>
    <div class="icons">
      <div>
        <a href="https://github.com/DavidCisar" title="GitHub Profile" target="_blank">
          <img class="footer-logo" src="./assets/images/github.svg" alt="github">
        </a>
      </div>
      <div>
        <a href="https://www.linkedin.com/in/david-cisar-308b6b199/" title="LinkedIn Profile" target="_blank">
          <img class="footer-logo" src="./assets/images/linkedin.svg" alt="linkedin">
        </a>
      </div>
      <div>
        <a href="https://www.instagram.com/davidcisar/" title="Instagram Profile" target="_blank">
          <img class="footer-logo" src="./assets/images/instagram.svg" alt="instagram">
        </a>
      </div>
      <div>
        <a href="https://medium.com/@davidcisar" title="Medium Profile" target="_blank">
          <img class="footer-logo" src="./assets/images/medium.svg" alt="medium">
        </a>
      </div>
      <div>
        <a href="mailto:info@dcisar.io" title="Mail to info@dcisar.io">
          <img class="footer-logo" src="./assets/images/paper-plane.png" alt="mail">
        </a>
      </div>
    </div>
    <div class="footerright">
      Copyright © 2023 - David Cisar
    </div>
  </div>

  <div [hidden]="!enteredPortfolio.getValue()">
    <canvas #canvas id="canvas"></canvas>

    <div *ngIf="!hideMenu.getValue()" class="menu rotate" id="menu">
      <h1 class="rotate-hero gradient-text" (click)="exploreTech()">TECH</h1>
      <h1 class="rotate-hero gradient-text" (click)="exploreAbout()">ABOUT</h1>
      <h1 class="rotate-hero gradient-text" (click)="exploreMore()">MORE</h1>
    </div>

    <div *ngIf="onExplore.getValue()" class="go-back center" (click)="goBack()">
      <p><b>Go back</b></p>
    </div>

    <div *ngIf="enteredPortfolio.getValue() && !onExplore.getValue()" class="more">
      <div id="arrow" class="arrow fade-in-arrow">
        <div>
          More
        </div>
        <div class="center">
          <img class="footer-logo" src="./assets/images/arrow.png" (click)="scrollTo('about')">
        </div>
      </div>
    </div>
  </div>
</div>
