#canvas {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  animation-name: fade-in;
  animation-duration: 1s;
}

.time {
  margin: 3vh auto;
  width: max(6vw, 125px);

  font-family: monospace;
  font-size: 12px;
  text-align: center;

  padding: 5px;

  border-bottom: 1px solid black;
}

.menu {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 70vh;
  left: 7.5vw;

  animation-name: fade-in;
  animation-duration: 1s;
}

.hidden {
  animation: fade-out 3s forwards;
}

@keyframes toggle-left {
  100%  {width: 20vw;}
}

@keyframes toggle-right {
  100%  {width: 17.5vw;}
}

@keyframes fade-in {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes fade-out {
  0%    { opacity: 1; }
  99%   { z-index: 1; }
  100%  { opacity: 0; z-index: -2;}
}

.hacking {
  margin-left: auto;
  margin-right: auto;
  font-size: 32px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: monospace;
}

.hacker {
  position: fixed;
  top: 45vh;
  left: 30vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 12.5vh;
  width: 40vw;
}

.enter-btn {
  width: max(10vw, 150px);
  height: 5vh;
  padding: 5px;

  background-color: white;
  border: 1px solid black;
  border-radius: 5px;

  font-size: 16px;

  margin-left: auto;
  margin-right: auto;
}

.enter-btn:hover {
  cursor: pointer;
  box-shadow: 5px 5px black;
}

.explore {
  position: fixed;

  top: 5vh;
  left: 10vw;

  background-color: white;

  width: max(75px, 5vw);
  padding: 5px;

  text-align: center;
  align-items: center;

  padding-left: max(15px, 1vw);
  padding-right: max(15px, 1vw);

  border-radius: 5px;
  border: 1px solid black;

  animation-name: fade-in;
  animation-duration: 2s;
}

.explore:hover {
  background-color: beige;
  cursor: pointer;
  box-shadow: 5px 5px black;
}

.gradient-text {
  margin-left: 2.5vw;

  background-image: linear-gradient(45deg, lightgreen, #d65db1, #ff6f91, lightgreen);
  background-clip: text;

  color: transparent;

  background-size: 500%;
  animation: bg-animation 15s infinite alternate;
}

.gradient-text:hover {
  background-image: linear-gradient(45deg, blue, #845ec2, #d65db1, lightgreen);
  cursor: pointer;
}

@keyframes bg-animation {
  0% { background-position: left }
  100% { background-position: right }
}
