<div class="room-container">
  <div *ngIf="!enteredPortfolio.getValue()" class="hacker center">
    <div id="hacking-1" class="hacking hero center"></div>
    <div id="hacking-2" class="hacking hero center"></div>
    <button *ngIf="introDone.getValue()" type="button" class="enter-btn center" (click)="enterPortfolio()">Enter portfolio</button>
  </div>

  <div [hidden]="!enteredPortfolio.getValue()">
    <canvas #canvas id="canvas"></canvas>

    <div *ngIf="!hideMenu.getValue()" class="menu rotate" id="menu">
      <h1 class="rotate-hero gradient-text" (click)="exploreTech()">TECH</h1>
      <h1 class="rotate-hero gradient-text" (click)="exploreAbout()">ABOUT</h1>
      <h1 class="rotate-hero gradient-text" (click)="exploreMore()">MORE</h1>
    </div>

    <div *ngIf="onExplore.getValue()" class="explore" (click)="goBack()">
      <p>Go back</p>
    </div>

    <div [hidden]="!enteredPortfolio.getValue()" class="more">
      <div id="arrow" class="arrow fade-in">
        <div>
          More
        </div>
        <div class="center">
          <img class="footer-logo" src="./assets/images/arrow.png" (click)="scrollTo('about')">
        </div>
      </div>
    </div>
  </div>
</div>
