<div class="blurr">
  <div class="folder">
    <div class="back" [routerLink]="['/']"><i class="fa-regular fa-circle-left"></i><p>Return</p></div>
    <div class="welcome">
      <div class="picture">
        <img src="./assets/images/me.jpg" style="width: 320px; border-radius: 50%" alt="Profile Picture">
      </div>
      <div class="welcome-text">
        <h1 class="hero">
          Hey,<br>
          I'm David!
        </h1>
        <p>
          <i>
            Fullstack Software Developer <br>
            <i class="fa-solid fa-location-dot" style="color: darkred"></i> Düsseldorf, Germany
          </i>
        </p>
      </div>
    </div>
    <div class="about-content">
      With expertise in building web applications, I professionally work on »Angular Frontends« that connect and interact with »Spring Backends«.
      I like to build web3 applications, connecting UIs with smart contracts that are build on top of EVM-related blockchain protocols.
      <br><br>
      I graduated university with a Master of Science in business administration and specialized in business informatics,
      covering interesting topics such as Data Science and Digitization, IT-Project Management as well as economic & technical principles of blockchain technology.
      This is also where I began to code back in 2019 by building ML models that tried to predict the content topic of tweets.
      <br><br>
      Highly interested in asset tokenization and associated web3 projects, that rather utilize blockchain protocols
      in a means of a more efficient transaction infrastructure compared to traditional (financial) market infrastructures.
      <br><br><br>
      You can reach out to me via <a href="mailto:info@dcisar.io"><i class="fa-regular fa-envelope"></i></a>
      or <a href="https://www.linkedin.com/in/david-cisar-308b6b199/" title="LinkedIn Profile" target="_blank"><i class="fa-brands fa-linkedin"></i></a>.
    </div>
  </div>
</div>
