<div class="blurr">
  <div class="folder">
    <div class="go-back" [routerLink]="['/']">
      <p>
        Go back
      </p>
    </div>
    <div class="welcome">
      <div class="picture">
        <img src="./assets/images/me.JPG" alt="Profile Picture">
      </div>
      <div class="welcome-text">
        <h1 class="hero">
          Hey,<br>
          I'm David!
        </h1>
        <p>
          Fullstack Software Developer <br>
          <i>Based in Düsseldorf, Germany</i>
        </p>
      </div>
    </div>
    <div class="about-content">
      With expertise in building web applications, I professionally work in Fullstack Software Development projects building »Angular Frontends« & »Spring Backends«.
      Highly interested in asset tokenization and associated web3 projects, connecting UIs with blockchain protocols and smart contracts.
      <br><br>
      I graduated from university with a Master of Science in Business Administration with a major in business informatics,
      covering exciting topics such as Data Science and Digitization of Business environments,
      IT-Project Management as well as economic & technical principles of blockchain technology.
      <br><br>
      I took the opportunity to start learning how to code back in 2019 by building simple Machine Learning models and doing textual analysis with Python
      and finally decided to develop software on a professional level in 2021. After successfully graduating from AW Academy Java Bootcamp in 2022, I'm now
      a so-called »Quereinsteiger«, developing enterprise web applications.
      <br><br><br>
      Eager to advance my skills. Persistent learner. Highly motivated.
    </div>
  </div>
</div>
