<div class="blurr">
  <div class="folder">
    <div class="back" [routerLink]="['/']"><i class="fa-regular fa-circle-left"></i><p>Return</p></div>
    <div class="welcome">
      <div class="picture">
        <img src="./assets/images/me.jpg" style="width: 320px; border-radius: 50%" alt="Profile Picture">
      </div>
      <div class="welcome-text">
        <h1 class="hero">
          Hey,<br>
          I'm David!
        </h1>
        <p>
          <i>
            Junior Software Engineer with expertise in the development of enterprise
            web-applications & EVM-related smart contract programming.
          </i>
        </p>
      </div>
    </div>
    <div>
      I'm currently working <a href="https://www.oraise.com/?lang=en" title="Oraise">Oraise</a> as a fullstack developer
    </div>
  </div>
</div>
