body {

  font-family: 'Georgia', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5rem;

  background: rgb(0, 0, 0) 100%;
  background-size: 100vw, 500vh;

  color: white;

  overflow-x: hidden;
  -ms-overflow-style: none;   /* Internet Explorer 10+ */
  scrollbar-width: none;      /* Firefox */
}

body::-webkit-scrollbar {
  display: none;              /* Safari and Chrome */
}

._glass {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: black;

  padding: 25px;

  background: rgba(255, 255, 255, 1);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;

  box-shadow: 0 4px 30px rgba(0, 0, 0, .7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.hero-headline {
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: -0.025em;


  margin-top: 30vh;
  margin-bottom: 5vh;
}

.headline {
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: -0.025em;
}

.inputs {
  display: flex;
  flex-direction: column;
}
