body {

  font-family: 'Times New Roman', serif;

  background: rgb(33, 76, 88) 100%;
  background-size: 100vw, 500vh;

  color: white;

  overflow-x: hidden;

}

p {
  font-size: 1.5rem;
}

.glass-container {
  display: flex;
  flex-direction: column;

  text-align: justify;

  padding: 25px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, .7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
