<div class="blurr">
  <div class="folder">
    <h1>Skills</h1>
    <div class="go-back" [routerLink]="['/']">
      <p>
        Go back
      </p>
    </div>
    <div class="skillgrid">
      <div class="skillsection">
        <h2>Programming Languages</h2>
        <p><br>◦ Java</p>
        <p>◦ TypeScript</p>
        <p>◦ JavaScript</p>
        <p>◦ Solidity</p>
        <p>◦ Python</p>
      </div>
      <div class="skillsection">
        <h2>Frameworks & Libraries</h2>
        <p><br>◦ Spring</p>
        <p>◦ Angular</p>
        <p>◦ RxJS</p>
        <p>◦ Mocha</p>
        <p>◦ JUnit5</p>
        <p>◦ Mockito</p>
      </div>
      <div class="skillsection">
        <h2>Databases</h2>
        <p><br>◦ MySQL</p>
        <p>◦ PostgreSQL</p>
        <p>◦ MongoDB</p>
      </div>
      <div class="skillsection">
        <h2>DevOps</h2>
        <p><br>◦ Docker</p>
        <p>◦ Maven</p>
        <p>◦ Bamboo</p>
        <p>◦ git</p>
        <p>◦ BitBucket</p>
        <p>◦ Selenium</p>
      </div>
      <div class="skillsection">
        <h2>Blockchain</h2>
        <p><br>◦ Ethers.js</p>
        <p>◦ Web3.js</p>
        <p>◦ ERC-Token Standards</p>
        <p>◦ Hardhat</p>
        <p>◦ Truffle Suite</p>
      </div>
      <div class="skillsection">
        <h2>3D Modeling</h2>
        <p><br>◦ Blender</p>
        <p>◦ Three.js</p>
      </div>
    </div>
  </div>
</div>
