*{
  margin: 0;
  padding: 0;

  color: white;

  font-family: Georgia, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: max (1vw, 8px);
  color: white;
  cursor: grab;
  overflow-x: hidden;
  width: 100vw;
  height: fit-content;
  background-color: rgb(6, 11, 25);
  overflow-x: hidden;

  -ms-overflow-style: none;   /* Internet Explorer 10+ */
  scrollbar-width: none;      /* Firefox */
}

body::-webkit-scrollbar {
  display: none;              /* Safari and Chrome */
}

a {
  text-decoration: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.full-container {
  width: 100vw;
  height: fit-content;

  display: flex;
  flex-direction: column;
}

.room-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.blurr {
  width: 100vw;
  height: 100vh;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);

  z-index: 6;
}

.headline {
  font-size: max(5.5vw, 80px);
  font-weight: bold;
  letter-spacing: -0.025em;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.hero {
  font-size: 72px;
  background-color: transparent;
}

.rotate-hero {
  font-size: 36px;
  background-color: transparent;
}

.rotate-hero:hover {
  transform: scale(1.05);
}

.big-hero {
  font-size: max(6.25vw, 90px);
  margin-bottom: 5vh;
  background-color: transparent;
}

.hero-small {
  font-size: 3rem;
  background-color: transparent;
}

.go-back {
  width: max(5vw, 75px);
  padding: 5px;

  margin: 1vh auto;

  background-color: rgb(6, 11, 25);
  border: 1px solid white;
  border-radius: 5px;

  font-size: 16px;
  text-align: center;
  align-items: center;
}

.go-back:hover {
  cursor: pointer;
  box-shadow: 5px 5px black;
}

.disclaimer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 40vh;
  margin-left: 10vw;

  width: 80vw;
  height: 20vh;

  background-color: beige;
  text-align: center;

  border: 1px solid black;
  border-radius: 15px;
}

.description {
  height: 50vh;
  overflow-y: auto;
  box-sizing: border-box;
  padding-bottom: 50px;
  border-bottom: 1px solid black;
}

.description::-webkit-scrollbar {
  display: none;              /* Safari and Chrome */
}

.container {
  width: 100vw;
  min-height: 100vh;
  margin-bottom: 15vh;
  text-align: center;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  width: 100vw;
  height: 1.5vh;
  color: white;

  background-color: transparent;

  font-size: max(0.625vw, 12px);

  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 4vh;
  padding-bottom: 4vh;

  z-index: 999;
}

.footerleft {
  display: flex;
  justify-content: space-between;
  width: 175px;
}

.footerright {
  display: flex;
  justify-content: flex-end;
  width: 175px;
}

.icons {
  display: flex;
  width: 400px;

  flex-direction: row;
  justify-content: space-between;
}

.footer-logo {
  height: 20px;
}

.footer-logo:hover {
  transform: scale(1.25);
}

#canvas {
  position: relative;
  width: 100vw;
  height: 100vh;

  animation-name: fade-in;
  animation-duration: 1s;
  z-index: -1;
}

.menu {
  position: absolute;
  top: 50vh;
  left: 32.5vw;
  width: 65vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  animation-name: fade-in-menu;
  animation-duration: 0.5s;
  z-index: 5;
}

.hidden {
  animation: fade-out-menu 3s forwards;
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 3s;
}

.disappear {
  animation: fade-out 1s forwards;
}

@keyframes toggle-left {
  100%  {width: 20vw;}
}

@keyframes toggle-right {
  100%  {width: 17.5vw;}
}

@keyframes fade-in {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes fade-in-menu {
  0%    { opacity: 0; left: 25vw; }
  100%  { opacity: 1; }
}

@keyframes fade-out {
  0%    { opacity: 1; }
  99%   { z-index: 1; }
  100%  { opacity: 0; z-index: -2;}
}

@keyframes fade-out-menu {
  0%    { opacity: 1; }
  30%   { opacity: 0.1; }
  99%   { z-index: 1; }
  100%  { opacity: 0; z-index: -2; left: 15vw; }
}

.hacking {
  font-size: 32px;
  background-image: linear-gradient(45deg, #d65db1 25%, #ff6f91);
  background-clip: text;

  color: transparent;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: monospace;
  overflow: hidden;
  height: 50px;
}

.hacker {
  margin-top: 40vh;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.enter-btn {
  width: 150px;
  height: 40px;
  box-sizing: border-box;

  background-color: rgb(6, 11, 25);
  border: 1px solid white;
  border-radius: 5px;

  margin-top: 10px;

  font-size: 18px;
  color: white;
  z-index: 5;
  animation-name: fade-in;
  animation-duration: 1s;
}

.enter-btn:hover {
  cursor: pointer;
  box-shadow: 2px 2px white;
}

.explore {
  position: absolute;

  top: 5vh;
  left: 10vw;

  background-color: rgb(6, 11, 25);

  width: max(75px, 5vw);
  padding: 5px;

  text-align: center;
  align-items: center;

  padding-left: max(15px, 1vw);
  padding-right: max(15px, 1vw);

  border-radius: 5px;
  border: 1px solid white;

  animation-name: fade-in;
  animation-duration: 2s;
  z-index: 5;
}

.explore:hover {
  cursor: pointer;
  box-shadow: 5px 5px white;
}

.rotate {
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.gradient-text {
  margin-left: 2.5vw;

  background-image: linear-gradient(45deg, #d65db1 25%, #ff6f91);
  background-clip: text;

  color: transparent;

  background-size: 150%;
  animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
  0% { background-position: left }
  100% { background-position: right }
}

@media (max-width: 1000px) {
  .footer {
    flex-direction: column;
  }

  .footerleft, .footerright {
    margin-left: auto;
    margin-right: auto;
  }

  .footerleft {
    letter-spacing: 2px;
    justify-content: space-between;
    width: 60vw;
  }

  .footerright {
    padding-bottom: 50px;
    letter-spacing: 2px;
    justify-content: center;
    width: 75vw;
  }

  .icons {
    margin: 25px auto;
    width: 75vw;
  }
}

.more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 94vh;
  left: calc(50vw - 100px);
  width: 200px;
}

.arrow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5vh;
  font-weight: 600;
}

@media (max-width: 767px) {
  .hacking {
    font-size: 16px;
    width: 90vw;
    height: fit-content;
    text-wrap: break-word;
    background-image: linear-gradient(45deg, #d65db1 25%, #ff6f91);
    background-clip: text;

    color: transparent;
  }

  .hacker {
    margin-top: 45vh;
    height: fit-content;
  }

  .enter-btn {
    font-size: 16px;
    background-color: rgb(6, 11, 25);
    margin-top: 25px;
    padding: 5px 10px;
    width: fit-content;
    height: fit-content;
    border-radius: 2px;
  }
}

