body {
  font-size: max (1vw, 8px);

  color: white;

  cursor: grab;

  overflow-x: hidden;
  -ms-overflow-style: none;   /* Internet Explorer 10+ */
  scrollbar-width: none;      /* Firefox */
}

body::-webkit-scrollbar {
  display: none;              /* Safari and Chrome */
}

a {
  text-decoration: none;
}

.full-container {
  width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  flex-direction: column;

  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.blurr {
  position: fixed;
  top: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);

  z-index: 2;
}

.headline {
  font-size: max(5.5vw, 80px);
  font-weight: bold;
  letter-spacing: -0.025em;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.hero {
  font-size: max(5vw, 72px);
  margin-bottom: 5vh;
  background-color: transparent;
}

.big-hero {
  font-size: max(6.25vw, 90px);
  margin-bottom: 5vh;
  background-color: transparent;
}

.hero-small {
  font-size: 3rem;
  background-color: transparent;
}

*{
  margin: 0;
  padding: 0;

  color: black;

  font-family: Georgia, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.go-back {
  width: max(5vw, 75px);
  padding: 5px;

  margin: 1vh auto;

  background-color: white;
  border: 1px solid black;
  border-radius: 5px;

  font-size: 16px;
  text-align: center;
  align-items: center;
}

.go-back:hover {
  cursor: pointer;
  box-shadow: 5px 5px black;
}

.disclaimer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 40vh;
  margin-left: 10vw;

  width: 80vw;
  height: 20vh;

  background-color: beige;
  text-align: center;

  border: 1px solid black;
  border-radius: 15px;
}

.description {
  height: 50vh;
  overflow-y: auto;
  box-sizing: border-box;
  padding-bottom: 50px;
  border-bottom: 1px solid black;
}

.description::-webkit-scrollbar {
  display: none;              /* Safari and Chrome */
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  bottom: 0;

  box-sizing: border-box;

  width: 100vw;
  height: 1.5vh;

  background-color: transparent;

  font-size: max(0.625vw, 12px);

  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 0.5vh;
  padding-bottom: 4vh;

  z-index: 999;
}

.footerleft {
  display: flex;
  justify-content: space-between;
  width: max(10vw, 175px);
}

.footerright {
  display: flex;
  justify-content: flex-end;
  width: max(10vw, 175px);
}

.icons {
  display: flex;

  width: 15vw;
  justify-content: space-between;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-logo {
  height: 2vh;
}

.footer-logo:hover {
  transform: scale(1.25);
}
